.htaccess

## Statamic Files ##
_add-ons/
admin/
_app/
_cache/
_config/
_content/3-journal/
_themes/london-wild/

## Image Files ##
*.jpg
*.png
*.ai
*.psd

## Video Files ##
*.mp4
*.ogv
*.webm

## Codekit ##
_themes/rikki-tikki/.sass-cache/
codekit-config.json

## OS Files ##
.DS_Store
