<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ _site_name }} ★ {{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="shortcut icon" href="http://aaronlpost.com/favicon.ico">     
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://aaronlpost.com/assets/img/icon.png" />   
        <link rel="stylesheet" href="{{ theme:css src='main.css'}}">
        <link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic|Vollkorn:400italic,400' rel='stylesheet' type='text/css'>
        
        <script src="{{ theme:js src='vendor/modernizr-2.6.2.min.js' }}"></script>
		<link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
		<script src="http://vjs.zencdn.net/c/video.js"></script>
	</head>
    <body>
    	<div id="email-popup" class="email-popup">
    		<img class="hello" src="http://aaronlpost.com/assets/img/hello.png">
			<form id="contact" method="post">											
				<fieldset>
				<div class="name">
		            <label for="name">Your Name <span class="errorname" style="display:none">is Required</span></label>
					<input name="name" id="name" placeholder="Fuzzy Dunlop" type="text">
				</div>
				<div class="email">
		            <label for="email">Your Email <span class="erroremail" style="display:none">is Required</span></label>
					<input name="email" id="email" placeholder="mailme@here.com" type="email">
				</div>
				<div class="message">
		            <label for="text">Your Message <span class="errormessage" style="display:none">is Required</span></label>
					<textarea name="text" rows="10" cols="20" id="text" placeholder="You're lookin' mighty fine!"></textarea>
				</div>
				</fieldset>
				<input class="submit-button" value="Send it!" type="submit">
				<p class="success" style="display:none">Your message has been sent successfully.</p>
				<p class="error" style="display:none">Your message has not been sent successfully.</p>
			</form>
    	</div>
        <div class="wrapper">
        <header role="banner" class="clearfix">
        	<h1 id="logo" class="hide-text">
				<a title="Return to the homepage" href="{{ homepage }}">Aaron L. Post <span></span></a>
			</h1><!-- logo -->
	        <nav role="navigation">
		        <ul id="nav">
		        	<li><a href="{{ homepage }}">About</a></li>
		        	<li><a href="{{_site_root}}portfolio">Portfolio</a></li>
                    <li><a href="#" class="open-popup-link" title="Contact Aaron">Contact</a></li>
				</ul><!-- main-nav --> 
	        </nav>
        </header>
        
        {{ layout_content }}
        <footer role="contentinfo">
			<p>Handcrafted in Texas<a href="#"><span aria-hidden="true" data-icon="&#xe002;"></span></a>&copy; 2013 Aaron L. Post</p>
		</footer>
        </div><!-- wrapper -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="{{ theme:js src='main-ck.js' }}"></script>

        <script>
            var _gaq=[['_setAccount','UA-38220841-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        <script>
			if(!Modernizr.svg) {
			    $('img[src*="svg"]').attr('src', function() {
			        return $(this).attr('src').replace('.svg', '.png');
			    });
			};
			// Once the video is ready
			_V_("example_video_1").ready(function(){
		
		    var myPlayer = this;    // Store the video object
		    var aspectRatio = 9/16; // Make up an aspect ratio
		
		    function resizeVideoJS(){
		      // Get the parent element's actual width
		      var width = document.getElementById(myPlayer.id).parentElement.offsetWidth;
		      // Set width to fill parent element, Set height
		      myPlayer.width(width).height( width * aspectRatio );
		    }
		
		    resizeVideoJS(); // Initialize the function
		    window.onresize = resizeVideoJS; // Call the function on resize
		  });

		</script>
    </body>
</html>
