/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

@import 'normalize';
@import 'bourbon';

@mixin breakpoint($point) {
  @if $point == large-desk {
    @media (min-width: 79.125em) { @content; }
  }
  @else if $point == small-desk {
    @media (max-width: 68em) { @content; }
  }
  @else if $point == tablet {
    @media (max-width: 55em)  { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 44em)  { @content; }
  }
}
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
	font-size: 100%;
    @include breakpoint(large-desk) {font-size: 110%; }
    @include breakpoint(small-desk) {font-size: 110%; }
    @include breakpoint(tablet) {font-size: 100%; }
    @include breakpoint(mobile) {font-size: 90%; }
    background-color: #141414;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #c50;
    text-shadow: none;
}

::selection {
    background: #c50;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px dashed #e5e5e5;
    margin: 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* !Global
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -   */
	.wrapper {
		width: 100%;
		background-color:rgb(242,242,242);
		margin: 18px auto; 
		border-radius:8px;           
		@include breakpoint(large-desk) {width:71.931818182em; @include box-shadow(0 0 15px rgba(0,0,0,0.7));}
	}

	img {
		max-width: 100%;
	}

/* !Type
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -   */

	/* Links */
	a:link, a:visited {
		color:rgb(204,85,0); 
		text-decoration: none; 
	    @include transition (color .2s ease);
	} 
	
	a:hover {
		color:rgb(0,0,0); 
		text-shadow: 0px 1px 1px rgb(204,156,122); 
		text-decoration: none; 
	} 
	
	a:active {
		color:rgb(60,60,60); 
		text-shadow: 0px 1px 1px rgb(204,85,0); 
		text-decoration: none; 
	}

	p {
		font-size: 1.125em;
		font-family: "Vollkorn", serif;
		line-height: 1.55;
		margin-top: 0;
	}
	
	h1.page-title {
		font-family: "Sorts Mill Goudy", serif;	
		margin: .75em 0 .45em 0;
		text-shadow: 1px 1px 0 #fff;
		text-align: center;
		font-weight: normal !important;
	}
	
	h2 {
		font-family: "Sorts Mill Goudy", serif;	
		font-size: 2.95em;
		line-height: .9;
		margin-bottom: .45em;
		text-shadow: 1px 1px 0 #fff;
		margin-top: 0;
		font-weight: normal !important;
	}
	
	figcaption {
		font-family: "Sorts Mill Goudy", serif;	
		font-size: 1em;
		font-weight: normal;
		text-align: center;
	}
	
	.gallery-featured {
		font-size: 2em;
	}
	
/* !Header
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
	header h1 a {
    	display:block;
    	width:100%;
    	height:100%;
    }

    header h1 a:hover, header h1 a:active{
    	background-color:transparent;
    }
    
    #menu-icon {
		display: none;
	}
	
	nav ul{
    	float:right;
    	margin:0 8.5% 0 0;
    }
    
    nav a:hover, nav a:active {
	    color:#fff; 
	    background: #cc5500;
	    background: -webkit-gradient(linear, left top, left bottom, from(#cc5500), to(#e15f00));
	    background: -moz-linear-gradient(top,  #cc5500,  #e15f00);
	    text-shadow:0 1px 0 #222;
	    @include transition (color .2s ease);
    }

    nav ul li a {
	    display:inline-block;
		font-size: 1.125em;
	    text-shadow:0 1px 0 #fff;  
	    padding-top:2.8em;
	    padding-bottom:2.5em;
	    padding-right:27px;
	    padding-left:27px;
	    font-family: 'Vollkorn', Georgia, serif;
	    @include breakpoint(small-desk) {font-size: 1.022em; };
    }
    
    nav ul li {
	    display:inline;
    }
    
	.hide-text {
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
	}
 
	#logo {
	    width:126px; height:76px;
	    background:url("../img/logo2.svg") no-repeat 0 0;
	    background-size: 126px 154px;
	    @include breakpoint(mobile) {width:63px; height:38px; background-size: 63px 77px;}
	    position:relative;
	    top:0;
	    left:8.5%;
	    float: left;
	    margin: 0 !important;
    }
    
    @include breakpoint(tablet) { 
  	header h1#logo {
	  	float: none;
	  	left: 0;
	  	margin: 0 auto !important;
  	}
    
    #nav {
	    text-align: center;
	    margin: 10px 0 0 0;
	    padding: 0;
	    width: 100%;
	}
	
	#nav li {
		display: inline;
	}
	
	#nav a {
  		display: inline-block;
  		padding: 15px 20px;
  		margin: 0;
  	}
  	}
    
    #logo span {
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
	    width:126px; height:76px;
	    background:url("../img/logo2.svg") no-repeat 0 -77px;
	    background-size: 126px 154px;
	    @include breakpoint(mobile) {width:63px; height:38px; background:url("../img/logo2.svg") no-repeat 0 -38px; background-size: 63px 77px;}
	    opacity: 0;
	    animation: fadeout ease-in 4s;
	    -moz-animation: fadeout ease-in 4s;
	    -webkit-animation: fadeout ease-in 4s;
	    -o-animation: fadeout ease-in 4s;
		-webkit-transition: opacity ease-in 0.5s;
		-moz-transition:    opacity ease-in 0.5s;
		-o-transition:      opacity ease-in 0.5s;
	}

    #logo span:hover {
		opacity: 1;	
    }
    
	@keyframes fadeout {
	    from {
	        opacity:1;
	    }
	    to {
	        opacity:0;
	    }
	}
	@-moz-keyframes fadeout { /* Firefox */
	    from {
	        opacity:1;
	    }
	    to {
	        opacity:0;
	    }
	}
	@-webkit-keyframes fadeout { /* Safari and Chrome */
	    from {
	        opacity:1;
	    }
	    to {
	        opacity:0;
	    }
	}
	@-o-keyframes fadeout { /* Opera */
	    from {
	        opacity:1;
	    }
	    to {
	        opacity: 0;
	    }
	}
		
/* !Article
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -   */
	.article-image {
		margin-bottom: 4.5em; 
	    @include breakpoint(mobile) {margin-bottom: 3em; }
		@include box-shadow(0 2px 9px rgba(0,0,0,0.4)); 
		border-bottom: 1px solid rgba(0,0,0,0.3); 
		position: relative;
		z-index: 150;
	}
	
	article header {
		float: left;
		width: 25%;
		text-align: right;
		margin-left: 8.5%;
		@include breakpoint(small-desk) {width:70%; margin-left: 15%; margin-right: 15%; float: left; text-align: left;}
		@include breakpoint(tablet) {width:82%; margin-left: 9%; margin-right: 9%; }	
	}
	
	article p, article figure {
		float: right;
		width: 50%;
		margin-bottom: 1.55em;
		margin-right: 8.5%;
		@include breakpoint(small-desk) {width:70%; margin-left: 15%; margin-right: 15%; float: left; text-align: left;}
		@include breakpoint(tablet) {width:82%; margin-left: 9%; margin-right: 9%; }	
	}
	
	article {
		padding-bottom: 4.5em;
	    @include breakpoint(mobile) {padding-bottom: 3em; }
		clear: both;

		}
	
	.meta {
		font-family: "Vollkorn", serif;
		font-size: .8em;
		line-height: 1.875;
		text-transform: uppercase;
		letter-spacing: .15em;
		display: block;
	}
	
	time {
	    @include breakpoint(small-desk) {display: block; float: left; &:after {content: "\2605 "; padding-left: 1em; padding-right: 1em;}; };
	}
	
	.location {
		display: block;
	    @include breakpoint(small-desk) {float: left; margin-bottom: 1.55em; };
	}
	
	.desc-header p {
		margin-left: 8.5%;
		margin-right: 8.5%;
		margin-bottom: 2.5em;
	}
	
	figure img {
		margin-bottom: 1.5em;
	}
	
/* !Brief
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -   */
	.brief {
		padding-top: 4.5em;
		padding-bottom: 4.5em;
	    @include breakpoint(mobile) {padding-top: 3em; padding-bottom: 3em; }
		border-top: 1px dashed #cccccc;
		clear: both;
	}
	
	
/* !Portfolio
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
	.portfolio-header, .center {
		width: 83%;
		padding-bottom: 4.5em;
		@include breakpoint(small-desk) {width: 70% ; }
		@include breakpoint(tablet) {width: 82%; }
		@include breakpoint(mobile) {padding-bottom: 3em; width: none; }
		h2 {
			font-family: "Sorts Mill Goudy", serif;	
			margin-bottom: .1em;
			text-align: center;
		}
		a {
	    	font-family: 'Vollkorn', Georgia, serif;
	    	display: block;
	    	margin-bottom: 1.55em;
	    	text-align: center;
		}
		p {
			width: 75%;
			margin: 0 auto;
			float: none;
			text-align: center;
			@include breakpoint(mobile) {width: 100%; text-align: left; margin-left: 0; margin-right: 0; }
		}
	}
	
	.center {
		margin-left: 8.5%;
		@include breakpoint(small-desk) {margin-left: 15%; }
		@include breakpoint(tablet) {margin-left: 9%; width: 82%; }
	}
	
	.center img {
		margin-bottom: 4.5em;
		@include breakpoint(mobile) {margin-bottom: 3em; }
	}
		
	.portfolio-hero {
		width: 33.333333%;
		display: block;
		float: left;
		@extend .article-image;
		@include breakpoint(mobile) {width: 100%; margin-bottom: 0; }
	}
		
	.hero-title {
		position: absolute;
		z-index: 500;
		@include box-shadow(0 2px 9px rgba(0,0,0,0.4)); 
		h2 {
			color: #fff;
	        text-shadow: 1px 1px 0 #000;
			line-height: 1;
			font-size: 1.5em;
			margin-bottom: 0;
			font-variant: small-caps;
			letter-spacing: 1px;
			text-rendering: auto; /* Fix ugly rendering bug(?) */
		}
		p {
			color: #000;
			background: #fff;
		}
        @include breakpoint(mobile) {position: relative; display: block; width: 100%; font-size: .75em;}
	}	
	
	.hero-section, .hero-type {
		padding: .65em 1em;
		position: relative;
		float: left;
		&:after {
			left: 100%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			z-index: 1;
			border-width: .5em;
			top: 50%;
			margin-top: -.5em;
		}
	}
	
	.hero-type {
		background-color: #c40;
	}
	
	.hero-section {
		background-color: #000;
		&:after {
			border-left-color: #000;
		}
	}
		
	.parallax {
        height: 0;
        padding-bottom: 161.6%; /* Proportional scaling of height */
	    @include breakpoint(mobile) {padding-bottom: 44%;}
        position: relative;
        overflow: hidden;
        width: 100%;
        img.slide {
	        max-height: 100%;
	        max-width: none;
	        position: absolute;
        	top: 0;
        	left: 0;
        	@include breakpoint(mobile) {right: 0; left: auto; background-color: #000;}
        }
        div {
        	display: block;
	        width: 76%;
	        height: 100%;
	        padding-left: 12.5%;
	        padding-right: 12.5%;
	        @include background-image(linear-gradient(left, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.6) 100%));
/* 	        @include breakpoint(tablet) {@include background-image(linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.75) 8%, rgba(0,0,0,0.75) 92%, rgba(0,0,0,0.8) 100%))}; */
	        @include breakpoint(mobile) {background-image: none; background-color: #000;};
	        padding-top: 55%;
	        position: absolute;
	        z-index: 1000;
	        @include breakpoint(mobile) {width: 34%; padding-left: 0; padding-right: 0; padding-top: 12.5%;}
        }
        div img {
	        width: 50%;
	        display: block;
	        margin-left: auto;
	        margin-right: auto;
        }
        div h2 {
	        font-size: 1.5em;
	        color: #fff;
	        text-shadow: 1px 1px 0 #000;
	        text-align: center;	   
	        margin-top: 1em;
        	@include breakpoint(mobile) {font-size: 1em;}     
        }
    }
    
	.portfolio-hero-half {
		@extend .portfolio-hero;
		width: 50%;
        @include breakpoint(mobile) {width: 100%;}     
		.parallax {
			padding-bottom: 50%;
			div {
				padding-top: 20%;
			}
		}
	}
	
	.portfolio-hero-quarter {
		@extend .portfolio-hero;
		width: 25%;
        @include breakpoint(mobile) {width: 50%;}     
		.parallax {
			padding-bottom: 100%;
			div {
				padding-top: 20%;
			}
		}
	}

    
    section.half {
	    img, p {
		    width: 46%;
		    margin: 0;
        	@include breakpoint(tablet) {width: 100%; }     
	    }
	    img {
		    @include box-shadow(0 3px 3px rgba(0,0,0,0.2));		
			@include breakpoint(tablet) {margin-bottom: 3.5em;}     
	    }
	    margin-left: 8.5%;
	    margin-right: 8.5%;
    }
    
    .left {
	    float: left;
    }
    
    .right {
	    float: right;
    }
	
	.nopadding {
		padding-bottom: 0;
	}

/* !Gallery
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -   */
	.gallery-home {
		margin: 0;
		padding: 0;
	}
	
	.gallery-home li {
		width: 422px;
		float: left;
		list-style: none;
	}

	.gallery-featured {
		width: 100% !important;
	}

	.gallery-home a {
		display: block;
		position: relative;
	}

	.gallery-home a:hover::before, .gallery-home a:active::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		@include box-shadow(inset 0 0 14px rgba(0,0,0,0.62));
	}
	
	.herowrap {
		position: relative;
	}
	
	.prev, .full, .next {
	    font-family: 'Vollkorn', Georgia, serif;
	    text-transform:uppercase; letter-spacing:0.2em;	
	    padding: 15px 0;
		position:absolute;
		bottom:3em;
		text-align:center;
	}
	.prev {
		width:25%;
		left:0;
	}
	
	.full {
		width:50%;
		left:25%;
		}	
		
	.next {
		width:25%;
		right:0;
		}
		
	#shadow {
		background-color: rgba(0,0,0,0.85); 
		position:absolute; 
		left:0; 
		top:0; 
		width:100%; 
		z-index:100;
		}
	
/*
	figure {
		display:block;
		position:relative;
		overflow:hidden;
		margin:0;
		}
	
	figcaption {
		position:absolute;
		background:rgba(0, 0, 0, 0.75);
		color:#ffffff;
		padding:10px 20px;
		opacity:0;
		bottom:0;
		left:-30%;
		@include transition (all 0.6s ease);
		}
	
	figure:hover figcaption,.visible {
		opacity:1;
		left:0;
		}
*/
	
/* !Footer
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -   */
	#pagination {
		font-family: "Sorts Mill Goudy", serif;	
		text-align: center;
		font-size: 1.615em;
		font-weight: normal;
		padding-top: 1.5em;
		padding-bottom: 1.5em;
		border-top: 1px dashed #cccccc;
		p {
			font-size: .7em;
			margin: 0;
		}
	}

	#pagination a:hover {
		color:rgb(0,0,0); 
		text-shadow: 0px 1px 1px rgb(204,156,122); 
		text-decoration: none; 
		background: transparent;
	} 
	
	.older {
		float: left;
		margin-left: 8.5%;
	}
	
	.newer {
		float: right;
		margin-right: 8.5%; 
	}
	
	footer {
		border-top: 1px dashed #cccccc;
	}
	
	footer p {
		text-align: center;
		padding-top: 1.5em;
		padding-bottom: 1.5em;
		margin: 0;
	}
	
	footer a {
		margin-left: 1em;
		margin-right: 1em;
	 	@include breakpoint(tablet) {display: block; }
	}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
