        <article class="nopadding clearfix">
        	<div class="parallax-contain article-image">
            	<img title="I Don't Gnome About You, But I Think This Is A Super Duper Awesome Family Photo, Guys" src="{{_site_root}}assets/img/superduperawesomefamilyphotoguys.jpg" >
        		<h2 class="overlay-title"><span class="italic homepage-title">Oops!</span>That's embarrassing.</h2>
        	</div>
        	<section class="portfolio-header homepage">
        		<p>Looks like we screwed up. Let's pretend that didn't happen. Just click the big button below to fix everything.</p>	
        		<a class="big-button" title"Click me! I'll fix everything!" href="{{ homepage }}">The Big Button To Fix Everything</a>	
        	</section>

        </article>