        <article role="main" class="nopadding clearfix">
        	<div class="parallax-contain article-image">
            	<img src="{{_site_root}}assets/img/aaron.jpg" >
        		<h2 class="overlay-title"><span class="italic homepage-title">Hi! I'm </span>Aaron L. Post</h2>
        	</div>
        	
        	<header class="portfolio-header homepage">
				{{ content }}			
        	</header>
        	<section class="brief timeline">
        		<h2 class="title-words"><span class="left-words">A Brief</span><span class="center-words"> Illustrated History</span><span class="right-words"> of Me</span></h2>
        		<h3 class="timeline-year">1986</h3>
        		<ul>
        			<li class="clearfix">
					<span class="dots"></span>
        			<div class="info left">
<!--         			<span class="info-arrow-right" aria-hidden="true" data-icon="&#x2192;"></span> -->
		        		<div class="info-box">
		        			<span class="info-icon" aria-hidden="true" data-icon="&#xe003;"></span>
		        			<div class="info-text">
	        					<h4>Born</h4>
		        					<p class="location">Wichita, Kansas</p>
		        					<div class="time">April 1986</div>
		        			</div>
		        		</div>
        			</div>
		        	<div class="baby-container right">
		            	<img src="{{_site_root}}assets/img/cute_baby.jpg" >		            	
					    <img class="baby img-overlay" src="{{_site_root}}assets/img/cute_baby.png" >
		            	<div class="reveal" id="night">
		            		<a href="{{_site_root}}portfolio/nightofthekeeper">View Night of the Keeper »</a>	            	
		            		<img src="{{_site_root}}assets/img/photo/nightofthekeeper-s.jpg" >
		            	</div>
		        	</div>
        			<div class="detail left">
		            	<a id="night-trigger" href="{{_site_root}}portfolio/nightofthekeeper"><img src="{{_site_root}}assets/img/photo/nightofthekeeper-t.jpg" ></a>
		            </div>
        			</li>
        		</ul>
        		<h3 class="timeline-year">2004–2009</h3>
        		<ul>
        			<li class="clearfix">
					<span class="dots"></span>
        			<div class="info right">
<!--         			<span class="info-arrow-left" aria-hidden="true" data-icon="&#x2190;"></span> -->
		        		<div class="info-box">
		        			<span class="info-icon" aria-hidden="true" data-icon="&#xe004;"></span>
		        			<div class="info-text">
	        					<h4>Attended Kansas State University</h4>
		        					<p class="location">Manhattan, Kansas</p>
		        					<div class="time">August 2004 to May 2009</div>
		        			</div>
		        		</div>
        			</div>
		        	<div class="left container">
			            <div class="reveal" id="eyes">
			            	<a href="{{_site_root}}portfolio/eyesofrain">View Eyes of Rain »</a>			            	
					    	<img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/photo/eyesofrain-s.jpg" >
			            </div>
			            <div class="reveal" id="autumn">
			            	<a href="{{_site_root}}portfolio/autumnrain">View Autumn Rain »</a>
			            	<img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/photo/autumnrain-s.jpg" >
			            </div>
		        		<ul class="rslides">
		            		<li><img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/studio/phoenix.jpg" ></li>
		            		<li><img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/studio/brewery.jpg" ></li>
		            		<li><img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/studio/chapel.jpg" ></li>
		            		<li><img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/studio/pottery.jpg" ></li>
		            	</ul>
		        	</div>
        			<div class="detail right">
		            	<a id="eyes-trigger" href="{{_site_root}}portfolio/eyesofrain"><img src="{{_site_root}}assets/img/eyesofrain-t.jpg" ></a><a id="autumn-trigger" href="{{_site_root}}portfolio/autumnrain"><img src="{{_site_root}}assets/img/autumnrain-t.jpg" ></a>
        			</div>
        			</li>
        			<li class="clearfix">
					<span class="dots"></span>
        			<div class="info left">
<!--         			<span class="info-arrow-right" aria-hidden="true" data-icon="&#x2192;"></span> -->
		        		<div class="info-box">
		        			<span class="info-icon" aria-hidden="true" data-icon="&#xe005;"></span>
		        			<div class="info-text">
	        					<h4>Attended Santa Chiara Study Center</h4>
		        					<p class="location">Castiglion Fiorentino, Italy</p>
		        					<div class="time">January to April 2008</div>
		        			</div>
		        		</div>
        			</div>
		        	<div class="container right">
			            <div class="reveal" id="cast">
			            	<a href="{{_site_root}}portfolio/castiglionfiorentino">View Castiglion Fiorentino »</a>	
			            	<img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/photo/castiglionfiorentino-s.jpg" >
			            </div>
		            	<img src="{{_site_root}}assets/img/cast-competition.jpg" >
		        	</div>
        			<div class="detail left">
		            	<a id="cast-trigger" href="{{_site_root}}portfolio/castiglionfiorentino"><img src="{{_site_root}}assets/img/photo/castiglionfiorentino-t.jpg" ></a>
		            </div>
        			</li>
        			<li class="clearfix">
					<span class="dots"></span>
        			<div class="info right">
<!--         			<span class="info-arrow-left" aria-hidden="true" data-icon="&#x2190;"></span> -->
		        		<div class="info-box">
		        			<span class="info-icon" aria-hidden="true" data-icon="&#xe004;"></span>
		        			<div class="info-text">
	        					<h4>Graduated from Kansas State University</h4>
	        					<p>Master of Architecture</p>
		        					<p class="location">Manhattan, Kansas</p>
		        					<div class="time">May 2009</div>
		        			</div>
		        		</div>
        			</div>
		        	<div class="container left">
		            	<img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/grad.jpg" >
		        	</div>
        			</li>
        			<li class="clearfix">
					<span class="dots"></span>
        			<div class="info left">
<!--         			<span class="info-arrow-left" aria-hidden="true" data-icon="&#x2190;"></span> -->
		        		<div class="info-box">
		        			<span class="info-icon" aria-hidden="true">&lt;html&gt;</span>
		        			<div class="info-text">
	        					<h4>Launched First Site</h4>
	        					<a href="http://www.artietheclown.com">ArtieTheClown.com</a>
		        					<div class="time">Fall 2009</div>
		        			</div>
		        		</div>
        			</div>
		        	<div class="container right">
		            	<img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/artietheclown.jpg" >
		        	</div>
        			</li>
        		</ul>
        		<h3 class="timeline-year">2010–2013</h3>
        		<ul>
        			<li class="clearfix">
					<span class="dots"></span>
        			<div class="info left">
<!--         			<span class="info-arrow-right" aria-hidden="true" data-icon="&#x2192;"></span> -->
		        		<div class="info-box">
		        			<span class="info-icon" aria-hidden="true" data-icon="&#xe002;"></span>
		        			<div class="info-text">
	        					<h4>Moved to Dallas, Texas</h4>
		        				<div class="time">Spring 2010</div>
		        			</div>
		        		</div>
        			</div>
		        	<div class="container right">
			            <div class="reveal" id="bridge">
			            	<a href="{{_site_root}}portfolio/bridgetosnowhere">View Bridge to Snowhere »</a>	
			            	<img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/photo/bridgetosnowhere-s.jpg" >
			            </div>
			            <div class="reveal" id="flight">
			            	<a href="{{_site_root}}portfolio/flight">View Flight »</a>
			            	<img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/photo/flight-s.jpg" >
			            </div>
		            	<img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/welcome.jpg" >
		        	</div>
        			<div class="detail left">
		            	<a id="flight-trigger" href="{{_site_root}}portfolio/flight"><img src="{{_site_root}}assets/img/photo/flight-t.jpg" ></a><a id="bridge-trigger" href="{{_site_root}}portfolio/bridgetosnowhere"><img src="{{_site_root}}assets/img/photo/bridgetosnowhere-t.jpg" ></a>
		            </div>
        			</li>
        			<li class="clearfix">
					<span class="dots"></span>
        			<div class="info right">
<!--         			<span class="info-arrow-right" aria-hidden="true" data-icon="&#x2192;"></span> -->
		        		<div class="info-box">
		        			<span class="info-icon" aria-hidden="true">&lt;html&gt;</span>
		        			<div class="info-text">
	        					<h4>Most Recent Sites</h4>
	        					<a href="http://www.beth-post.com">Beth-Post.com</a>
	        					<a href="http://www.fredbohn.com">FredBohn.com</a>
	        					<a href="http://www.aaronlpost.com">AaronLPost.com</a>
		        				<div class="time">Fall 2012 to Spring 2013</div>
		        			</div>
		        		</div>
        			</div>
		        	<div class="container left">
			            <div class="reveal" id="beth">
			            	<a href="{{_site_root}}portfolio/bethpost">About Beth-Post.com »</a>
			            	<img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/beth-frontpage-a.jpg" >
			            </div>
			            <div class="reveal" id="fred">
			            	<a href="{{_site_root}}portfolio/fredbohn">About FredBohn.com »</a>
			            	<img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/fred-frontpage-a.jpg" >
			            </div>
			            <div class="reveal" id="aaron">
			            	<a href="{{_site_root}}portfolio/aaronlpost">About AaronLPost.com »</a>
			            	<img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/aaron-frontpage-a.jpg" >
			            </div>
		            	<img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/sites.jpg" >
		        	</div>
        			<div class="detail right">
		            	<a id="beth-trigger" href="{{_site_root}}portfolio/bethpost"><img src="{{_site_root}}assets/img/beth-frontpage-t.jpg" ></a><a id="fred-trigger" href="{{_site_root}}portfolio/fredbohn"><img src="{{_site_root}}assets/img/fred-frontpage-t.jpg" ></a><a id="aaron-trigger" href="{{_site_root}}portfolio/aaronlpost"><img src="{{_site_root}}assets/img/aaron-frontpage-t.jpg" ></a>
		            </div>
        			</li>
        		</ul>
        	</section>
        </article>

