        <article class="nopadding clearfix">
        	<div class="parallax-contain article-image">
            	<img src="{{_site_root}}assets/img/aaron.jpg" >
        		<h2 class="overlay-title"><span class="italic">Hi!&nbsp; I'm </span>Aaron L. Post</h2>
        	</div>
        	
        	<header class="portfolio-header homepage">
				{{ content }}			
        	</header>
        	<section class="brief timeline">
        		<h2 class="title-words"><span class="left-words">A Brief</span><span class="center-words"> Illustrated History</span><span class="right-words"> of Me</span></h2>
        		<h3 class="timeline-year">1986</h3>
        		<ul>
        			<li class="clearfix">
					<span class="dots"></span>
        			<div class="info left">
<!--         			<span class="info-arrow-right" aria-hidden="true" data-icon="&#x2192;"></span> -->
		        		<div class="info-box">
		        			<span class="info-icon" aria-hidden="true" data-icon="&#xe003;"></span>
		        			<div class="info-text">
	        					<h4>Born</h4>
		        					<p class="location">Wichita, Kansas</p>
		        					<time>April 1986</time>
		        			</div>
		        		</div>
        			</div>
		        	<div class="baby-container right">
		            	<img src="{{_site_root}}assets/img/cute_baby.jpg" >
		            	<img class="baby img-overlay" src="{{_site_root}}assets/img/cute_baby.png" >
		            	<div class="reveal" id="night">
		            		<a href="{{_site_root}}portfolio/nightofthekeeper">View Night of the Keeper »</a>
		            		<img src="{{_site_root}}assets/img/photo/nightofthekeeper-s.jpg" >
		            	</div>
		        	</div>
        			<div class="detail left">
		            	<a id="night-trigger" href="{{_site_root}}portfolio/nightofthekeeper"><img src="{{_site_root}}assets/img/photo/nightofthekeeper-t.jpg" ></a>
		            </div>
        			</li>
        		</ul>
        		<h3 class="timeline-year">2004–2009</h3>
        		<ul>
        			<li class="clearfix">
					<span class="dots"></span>
        			<div class="info right">
<!--         			<span class="info-arrow-left" aria-hidden="true" data-icon="&#x2190;"></span> -->
		        		<div class="info-box">
		        			<span class="info-icon" aria-hidden="true" data-icon="&#xe004;"></span>
		        			<div class="info-text">
	        					<h4>Attended Kansas State University</h4>
		        					<p class="location">Manhattan, Kansas</p>
		        					<time>August 2004 to May 2009</time>
		        			</div>
		        		</div>
        			</div>
		        	<div class="left container">
			            <div class="reveal" id="eyes">
			            	<a href="{{_site_root}}portfolio/eyesofrain">View Eyes of Rain »</a>
			            	<img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/photo/eyesofrain-s.jpg" >
			            </div>
			            <div class="reveal" id="autumn">
			            	<a href="{{_site_root}}portfolio/autumnrain">View Autumn Rain »</a>
			            	<img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/photo/autumnrain-s.jpg" >
			            </div>
		        		<ul class="rslides">
		            		<li><img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/studio/phoenix.jpg" ></li>
		            		<li><img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/studio/brewery.jpg" ></li>
		            		<li><img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/studio/chapel.jpg" ></li>
		            		<li><img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/studio/pottery.jpg" ></li>
		            	</ul>
		        	</div>
        			<div class="detail right">
		            	<a id="eyes-trigger" href="{{_site_root}}portfolio/eyesofrain"><img src="{{_site_root}}assets/img/eyesofrain-t.jpg" ></a><a id="autumn-trigger" href="{{_site_root}}portfolio/autumnrain"><img src="{{_site_root}}assets/img/autumnrain-t.jpg" ></a>
        			</div>
        			</li>
        			<li class="clearfix">
					<span class="dots"></span>
        			<div class="info left">
<!--         			<span class="info-arrow-right" aria-hidden="true" data-icon="&#x2192;"></span> -->
		        		<div class="info-box">
		        			<span class="info-icon" aria-hidden="true" data-icon="&#xe005;"></span>
		        			<div class="info-text">
	        					<h4>Attended Santa Chiara Study Center</h4>
		        					<p class="location">Castiglion Fiorentino, Italy</p>
		        					<time>January to April 2008</time>
		        			</div>
		        		</div>
        			</div>
		        	<div class="container right">
			            <div class="reveal" id="cast">
			            	<a href="{{_site_root}}portfolio/castiglionfiorentino">View Castiglion Fiorentino »</a>
			            	<img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/photo/castiglionfiorentino-s.jpg" >
			            </div>
		            	<img src="{{_site_root}}assets/img/cast-competition.jpg" >
		        	</div>
        			<div class="detail left">
		            	<a id="cast-trigger" href="{{_site_root}}portfolio/castiglionfiorentino"><img src="{{_site_root}}assets/img/photo/castiglionfiorentino-t.jpg" ></a>
		            </div>
        			</li>
        			<li class="clearfix">
					<span class="dots"></span>
        			<div class="info right">
<!--         			<span class="info-arrow-left" aria-hidden="true" data-icon="&#x2190;"></span> -->
		        		<div class="info-box">
		        			<span class="info-icon" aria-hidden="true" data-icon="&#xe004;"></span>
		        			<div class="info-text">
	        					<h4>Graduated from Kansas State University</h4>
	        					<p>Master of Architecture</p>
		        					<p class="location">Manhattan, Kansas</p>
		        					<time>May 2009</time>
		        			</div>
		        		</div>
        			</div>
		        	<div class="container left">
		            	<img src="{{_site_root}}assets/img/grad.jpg" >
		        	</div>
        			</li>
        			<li class="clearfix">
					<span class="dots"></span>
        			<div class="info left">
<!--         			<span class="info-arrow-left" aria-hidden="true" data-icon="&#x2190;"></span> -->
		        		<div class="info-box">
		        			<span class="info-icon" aria-hidden="true">&lt;html&gt;</span>
		        			<div class="info-text">
	        					<h4>Launched First Site</h4>
	        					<a href="http://www.artietheclown.com">ArtieTheClown.com</a>
		        					<time>Fall 2009</time>
		        			</div>
		        		</div>
        			</div>
		        	<div class="container right">
		            	<img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/artietheclown.jpg" >
		        	</div>
        			</li>
        		</ul>
        		<h3 class="timeline-year">2010–2013</h3>
        		<ul>
        			<li class="clearfix">
					<span class="dots"></span>
        			<div class="info left">
<!--         			<span class="info-arrow-right" aria-hidden="true" data-icon="&#x2192;"></span> -->
		        		<div class="info-box">
		        			<span class="info-icon" aria-hidden="true" data-icon="&#xe002;"></span>
		        			<div class="info-text">
	        					<h4>Moved to Dallas, Texas</h4>
		        				<time>Spring 2010</time>
		        			</div>
		        		</div>
        			</div>
		        	<div class="container right">
			            <div class="reveal" id="bridge">
			            	<a href="{{_site_root}}portfolio/bridgetosnowhere">View Bridge to Snowhere »</a>
			            	<img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/photo/bridgetosnowhere-s.jpg" >
			            </div>
			            <div class="reveal" id="flight">
			            	<a href="{{_site_root}}portfolio/flight">View Flight »</a>
			            	<img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/photo/flight-s.jpg" >
			            </div>
		            	<img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/welcome.jpg" >
		        	</div>
        			<div class="detail left">
		            	<a id="flight-trigger" href="{{_site_root}}portfolio/flight"><img src="{{_site_root}}assets/img/photo/flight-t.jpg" ></a><a id="bridge-trigger" href="{{_site_root}}portfolio/bridgetosnowhere"><img src="{{_site_root}}assets/img/photo/bridgetosnowhere-t.jpg" ></a>
		            </div>
        			</li>
        			<li class="clearfix">
					<span class="dots"></span>
        			<div class="info right">
<!--         			<span class="info-arrow-right" aria-hidden="true" data-icon="&#x2192;"></span> -->
		        		<div class="info-box">
		        			<span class="info-icon" aria-hidden="true">&lt;html&gt;</span>
		        			<div class="info-text">
	        					<h4>Most Recent Sites</h4>
	        					<a href="http://www.beth-post.com">Beth-Post.com</a>
	        					<a href="http://www.fredbohn.com">FredBohn.com</a>
	        					<a href="http://www.aaronlpost.com">AaronLPost.com</a>
		        				<time>Fall 2012 to Spring 2013</time>
		        			</div>
		        		</div>
        			</div>
		        	<div class="container left">
			            <div class="reveal" id="beth">
			            	<a href="{{_site_root}}portfolio/bethpost">About Beth-Post.com »</a>
			            	<img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/beth-frontpage-a.jpg" >
			            </div>
			            <div class="reveal" id="fred">
			            	<a href="{{_site_root}}portfolio/fredbohn">About FredBohn.com »</a>
			            	<img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/fred-frontpage-a.jpg" >
			            </div>
			            <div class="reveal" id="aaron">
			            	<a href="{{_site_root}}portfolio/aaronlpost">About AaronLPost.com »</a>
			            	<img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/aaron-frontpage-a.jpg" >
			            </div>
		            	<img class="lazy" src="{{_site_root}}assets/img/blank.gif" data-original="{{_site_root}}assets/img/sites.jpg" >
		        	</div>
        			<div class="detail right">
		            	<a id="beth-trigger" href="{{_site_root}}portfolio/bethpost"><img src="{{_site_root}}assets/img/beth-frontpage-t.jpg" ></a><a id="fred-trigger" href="{{_site_root}}portfolio/fredbohn"><img src="{{_site_root}}assets/img/fred-frontpage-t.jpg" ></a><a id="aaron-trigger" href="{{_site_root}}portfolio/aaronlpost"><img src="{{_site_root}}assets/img/aaron-frontpage-t.jpg" ></a>
		            </div>
        			</li>
        		</ul>
        	</section>

        	<!--
			<section class="brief half clearfix">
            	<img class="left" src="{{_site_root}}assets/img/beth-about.jpg">
				<p class="right">When Beth approached me with a request for her own site, it had been several years since I had designed my first production site for my <a href="http://www.artietheclown.com">father</a>. A lot had changed on the web over that period of time. After graduating from college in 2009 I started to brush up on my coding and design skills. My own site had always been a personal playground for the new skills I was learning. Beth&#8217;s site provided a platform to design for an actual client. It was time to get my feet wet. </p>
			</section>
			<section class="brief half clearfix">
            	<img class="right" src="{{_site_root}}assets/img/beth-less.jpg">
				<p class="left">For a more rapid development process, and to quench my everlasting thirst to learn something new, I turned to <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> to act as the foundation. (Speaking of foundations, I also tinkered with an alternate framework, <a href="http://foundation.zurb.com/">ZURB Foundation</a>.) Bootstrap introduced me to <a href="http://lesscss.org/">LESS</a> and the concept of CSS preprocessors in general. Although in retrospect the produced code looks admittedly bloated (the complexity of Bootstrap wasn&#8217;t <em>necessary</em> for such a small site), I still learned a ton about emerging web design tools. </p>
			</section>
			<section class="center brief">
            	<img src="{{_site_root}}assets/img/beth-responsive.png">
				<p>The site was designed from the start to be responsive. Visitors at a gallery showing are able to check out more of Beth&#8217;s work on mobile devices, then see more detail at home on a larger monitor. This design provided a valuable opportunity for me to learn about media queries on the backend, and flexible user interface design on the frontend. I&#8217;ve been fascinated by the design opportunities since. I love solving puzzles, and crafting experiences according to users&#8217; device of choice is one giant puzzle worth exploring. </p>
			</section>
			<section class="brief half clearfix">
				<p class="right">Since the initial design was fleshed out in Bootstrap and consisted of static files, any updates had to be done through code. Beth wanted a frictionless way to add more content. I wanted a frictionless way to control design. <a href="http://statamic.com/">Statamic</a> provided both. Not having to fiddle with a database and (much) PHP allowed me to focus on what I wanted to learn most: design through HTML and CSS. Statamic allowed me to experiment to my heart&#8217;s content with design first and drop in a few variables later to automate content management. </p>
			</section> 	
-->
        </article>
        
<!--
        <nav id="pagination" class="clearfix">
        	<a href="{{_site_root}}portfolio/bethpost">Next, check out Beth Post &rarr;</a>
        	<p></p>
        </nav>
-->


