        <article role="main" itemscope itemtype="http://schema.org/VideoObject" class="nopadding clearfix">

				<video id="example_video_1" class="article-image video-js vjs-default-skin"
					controls preload="auto" 
					poster="{{_site_root}}assets/img/autumnrain-vidcover2.jpg"
					data-setup='{"example_option":true}'>
					<source itemprop="video" src="{{_site_root}}assets/vid/autumnrain.mp4" type='video/mp4' />
					<source src="{{_site_root}}assets/vid/autumnrain.webm" type='video/webm' />
					<source src="{{_site_root}}assets/vid/autumnrain.ogv" type='video/ogg' />
				</video>

        	<header class="portfolio-header">
        		<a itemprop="url" href="http://youtu.be/kL8oavPV77k"><h2 itemprop="name">Autumn Rain</h2></a>
				<div class="map-container">
					<a href="#">Gaspar House - Zahora, Spain</a>
					<iframe class="left map" height='300' frameBorder='0' src='http://a.tiles.mapbox.com/v3/trooz1.map-f817jt79.html#14/36.200700000000005/-6.033599999999982'></iframe>					
					<iframe class="right map" height='300' frameBorder='0' src='http://a.tiles.mapbox.com/v3/trooz1.map-f817jt79.html#5/36.200700000000005/-6.033599999999982'></iframe>   
				</div>             	
			</header>
			<section class="brief center">
			<p itemprop="description">The short film <i>Autumn Rain</i> was conceived as a study in how changes in time and season dramatically affect constructed spaces. All shots were composed and rendered in 3DS Max, color-corrected in After Effects, and edited in Premiere Pro.</p>
			<meta itemprop="duration" content="PT1M4S" />
			<meta itemprop="thumbnail" content="{{_site_root}}assets/img/autumnrain-vidcover2.jpg" />
			</section>
        </article>
        
        <nav role="navigation" id="pagination" class="clearfix">
        	<a href="{{_site_root}}portfolio/eyesofrain">Next, check out <i>Eyes of Rain</i> &rarr;</a>
        	<p></p>
        </nav>
