        <article class="nopadding clearfix">
            <div id="fitvid" class="article-image">
	            <div onclick="thevid=document.getElementById('thevideo'); thevid.style.display='block'; this.style.display='none'"><img src="{{_site_root}}assets/img/autumnrain-vidcover.jpg" style="cursor:pointer" /></div><div id="thevideo" style="display:none"><iframe width="1280" height="720" src="http://www.youtube.com/embed/kL8oavPV77k?rel=0&showinfo=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
	            </div></div>

        	<header class="portfolio-header">
        		<a href="http://youtu.be/kL8oavPV77k"><h2>Autumn Rain</h2></a>
				<a href="#">Gaspar House - Zahora, Spain</a>
				<div class="map-container">
					<iframe class="left map" height='300' frameBorder='0' src='http://a.tiles.mapbox.com/v3/trooz1.map-f817jt79.html#14/36.200700000000005/-6.033599999999982'></iframe>					
					<iframe class="right map" height='300' frameBorder='0' src='http://a.tiles.mapbox.com/v3/trooz1.map-f817jt79.html#5/36.200700000000005/-6.033599999999982'></iframe>   
				</div>             	
			</header>
        </article>
        
        <nav id="pagination" class="clearfix">
        	<a href="{{_site_root}}portfolio/eyesofrain">Next, check out Eyes of Rain &rarr;</a>
        	<p></p>
        </nav>
