        <article class="nopadding clearfix">
            <img src="{{_site_root}}assets/img/photo/bridgetosnowhere.jpg" class="article-image">

        	<header class="portfolio-header">
        		<h2>Bridge to Snowhere</h2>
				<div class="map-container">
					<a href="#">Rockwall, Texas</a>
					<iframe class="left map" height='300' frameBorder='0' src='http://a.tiles.mapbox.com/v3/trooz1.map-l0xyawzu.html#9/32.92865217288737/-96.47437335205078'></iframe>					
					<iframe class="right map" height='300' frameBorder='0' src='http://a.tiles.mapbox.com/v3/trooz1.map-l0xyawzu.html#5/32.92865217288737/-96.47437335205078'></iframe>   
				</div>         	
			</header>
        </article>
        
        <nav id="pagination" class="clearfix">
        	<a class="left" href="{{_site_root}}portfolio/flight">&larr; Flight</a>
        	<a class="right" href="{{_site_root}}portfolio/castiglionfiorentino">Castiglion Fiorentino &rarr;</a>
        </nav>
