        <article class="nopadding clearfix">
            <img src="{{_site_root}}assets/img/photo/castiglionfiorentino.jpg" class="article-image">

        	<header class="portfolio-header">
        		<h2>Castiglion Fiorentino</h2>
				<a href="#">Castiglion Fiorentino, Italy</a>
				<div class="map-container">
					<iframe class="left map" height='300' frameBorder='0' src='http://a.tiles.mapbox.com/v3/trooz1.map-yp7gwzog.html#14/43.341826916406276/11.922991803646108'></iframe>					
					<iframe class="right map" height='300' frameBorder='0' src='http://a.tiles.mapbox.com/v3/trooz1.map-yp7gwzog.html#5/43.34136304249597/11.92274250793459'></iframe>   
				</div>     	
			</header>
        </article>
        
        <nav id="pagination" class="clearfix">
        	<a href="{{_site_root}}portfolio/flight">Flight &rarr;</a>
        </nav>
