        <article class="nopadding clearfix">
            <div id="fitvid" class="article-image">
            <div onclick="thevid=document.getElementById('thevideo'); thevid.style.display='block'; this.style.display='none'"><img src="{{_site_root}}assets/img/eyesofrain-vidcover.jpg" style="cursor:pointer" /></div><div id="thevideo" style="display:none"><iframe width="1280" height="720" src="http://www.youtube.com/embed/_uEwvTW1mPI?rel=0&showinfo=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
            </div></div>
        	<header class="portfolio-header">
        		<a href="http://youtu.be/_uEwvTW1mPI"><h2>Eyes of Rain</h2></a>
				<div class="map-container">
				<a href="#">Pantheon - Rome, Italy</a>
				<iframe class="left map" height='300' frameBorder='0' src='http://a.tiles.mapbox.com/v3/trooz1.map-g0mxv70b.html#14/41.89857973456335/12.476810216903676'></iframe>
				<iframe class="right map" height='300' frameBorder='0' src='http://a.tiles.mapbox.com/v3/trooz1.map-g0mxv70b.html#5/41.89857973456335/12.476810216903676'></iframe>   
				</div>
			</header>
        </article>
        
        <nav id="pagination" class="clearfix">
        	<a href="{{_site_root}}portfolio/autumnrain">Next, check out Autumn Rain &rarr;</a>
        	<p></p>
        </nav>

