        <article class="nopadding clearfix">
            <img src="{{_site_root}}assets/img/photo/flight.jpg" class="article-image">

        	<header class="portfolio-header">
        		<h2>Flight</h2>
				<div class="map-container">
					<a href="#">Dallas, Texas</a>
					<iframe class="left map" height='300' frameBorder='0' src='http://a.tiles.mapbox.com/v3/trooz1.map-g0mxv70b.html#12/32.779422515706585/-96.79954848480222'></iframe>					
					<iframe class="right map" height='300' frameBorder='0' src='http://a.tiles.mapbox.com/v3/trooz1.map-g0mxv70b.html#5/32.779422515706585/-96.79954848480222'></iframe>   
				</div>          	
			</header>
        </article>
        
        <nav id="pagination" class="clearfix">
        	<a class="left" href="{{_site_root}}portfolio/castiglionfiorentino">&larr; Castiglion Fiorentino</a>
        	<a class="right" href="{{_site_root}}portfolio/bridgetosnowhere">Bridge to Snowhere &rarr;</a>
        </nav>
        
