        <article class="nopadding clearfix">
            <img src="{{_site_root}}assets/img/fred-frontpage.jpg" class="article-image">

        	<header class="portfolio-header">
        		<h2>Fred Bohn</h2>
				<a href="http://www.fredbohn.com">www.fredbohn.com</a>
				<p>Bohn. Fred Bohn. Does not approve of cheesy Bond jokes. But he does paint and draw really cool artwork in and around Wichita, Kansas.</p>				
        	</header>
       
			<section class="brief half clearfix">
            	<img class="right" src="{{_site_root}}assets/img/fred-sass.jpg">
				<p class="left">I was introduced to CSS preprocessors, specifically LESS, during the development of <a href="http://www.beth-post.com/">Beth’s site</a> using Twitter Bootstrap. For Fred’s site I took a different approach and started learning <a href="http://sass-lang.com/">SASS</a>, using the <a href="http://html5boilerplate.com/">HTML5 Boilerplate</a> as a foundation. SASS allowed me to set up variables and math operations within the CSS (and practice my nerd skills). This meant changes to the layout could be tested super fast within the browser just by changing a variable or two.</p>
			</section>

			<section class="center brief">
            	<img src="{{_site_root}}assets/img/fred-responsive.png">
				<p>A good responsive design approach doesn’t only address how a site looks across a variety of devices, but also how it works. Different devices sometimes call for different interaction. Fred’s site relies upon navigation arrows that expand on hover to reveal previews for additional artwork. Spiffy on the desktop with a mouse, this approach falls flat on mobile without hover. So I used media queries to collapse the previews to always be visible at mobile sizes. </p>
			</section>
			
			<section class="brief half clearfix">
            	<img class="left" src="{{_site_root}}assets/img/fred-stat.jpg">
				<p class="right">I wanted to give Fred an easy way to add new artwork and not only have it appear in his portfolio, but also on the front page. Once again I turned to <a href="http://statamic.com/">Statamic</a>. Using the most recent drawings and paintings uploaded, the images are automatically resized and presented with titles in a carousel. New uploads are automatically replaced, leaving Fred with more time to create more awesome artwork.</p>
			</section> 	
        </article>
        
        <nav id="pagination" class="clearfix">
        	<a href="{{_site_root}}portfolio/aaronlpost">Next, check out Aaron L. Post. Hey, that's me! &rarr;</a>
        	<p></p>
        </nav>


