        <article role="main" class="nopadding clearfix">
            <img alt="Front page of aaronlpost.com" src="{{_site_root}}assets/img/aaron-frontpage3.jpg" class="article-image">
        	
			<section class="brief clearfix">
				<p class="q">How did you get your start in web design?</p>
				<figure class="left aside">
            		<img alt="" src="{{_site_root}}assets/img/schoolsout.jpg">
            		<figcaption>
            		School's out for summer. Fifth grade.
            		</figcaption>
				</figure>
				<p class="a">Ever since I was a kid I have enjoyed building and creating. Legos, toy models, and drawing utensils were always a part of my childhood. But it was the blazing fast Packard Bell computer that my parents bought back in high school that brought me into the digital world. Occasionally, I experimented with Photoshop (5.0 LE!), and my web design interest followed when my father was interested in a site for his blooming clowning business. I hit the books and learned as much HTML 4 as I could. A few designs for my father emerged as well as an unpublished church youth site, and my final design went live in...</p>
				<p class="q">Why did you choose to pursue a degree in Architecture?</p>
				<figure class="right aside">
            		<img alt="" src="{{_site_root}}assets/img/flw2.jpg">
            		<figcaption>
            		Aaron, second from right, learns from the great American architect Frank Lloyd Wright. <br/>Photoshop Dramatization/Aaron Post
            		</figcaption>
				</figure>
				<p class="a">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p class="q">Why web design over architecture?</p>
				<p class="a">I love architecture and have huge respect for the profession, but ultimately I enjoy coding and design in the digital world more. </p>
				<p class="q">What are some of the parallels between designing a building and designing a website?</p>
				<p class="a">Ultimately in both professions, you're given a set of goals and constraints that you must reconcile creatively. I see architecture and web design as puzzles, where there is the freedom to pursue a solution through creativity, but also where certain criteria must be met in order to succeed. I love problem-solving, and I love creating. It's this intersection that has me so interested in all manners of design, physical and digital.</p>
			</section>
        </article>
        
        <nav role="navigation" id="pagination" class="clearfix">
        	<a href="{{_site_root}}portfolio/bethpost">Next, check out Beth Post &rarr;</a>
        	<p></p>
        </nav>


