        <article role="main" class="nopadding clearfix">
            <img alt="Front page of aaronlpost.com" src="{{_site_root}}assets/img/aaron-frontpage3.jpg" class="article-image">

        	<header class="portfolio-header">
        		<h2>Aaron L. Post</h2>
				<a href="http://www.aaronlpost.com">www.aaronlpost.com</a>
				<p>You are here! This is my playground, my portfolio, my experimental slate from which to tinker with new things. Some pieces may be broken. Some parts may be assembled incorrectly. But ultimately this is where I have learned a lot about how to design for the web. Below are some more details about how this site came to fruition. 
</p>				
        	</header>
			<section class="brief half clearfix">
            	<img class="left" alt="" src="{{_site_root}}assets/img/aaron-inbrowser.jpg">
				<h3 class="right">Insider Making</h3>
				<p class="right">The most effective way for me to design my sites is in-browser. First I made rough mockups on paper and moved only briefly into Photoshop when necessary. Once the base code was down, a large number of decisions were made inside the browser itself using the Inspector. This allowed me to make quick iterative changes that accurately reflected what the final audience would experience across a wide range of devices. I also discovered my love for sketching on notecards. Lots. Of. Notecards. </p>
			</section>
			<section class="center brief">
            	<img alt="" src="{{_site_root}}assets/img/aaron-responsive.png">
				<h3>Ch-ch-ch-ch-changes</h3>
				<p>Responsive design was again a focus of mine. Increasingly, people are experiencing the web on devices other than just the desktop. As designers we must be more flexible in our approaches to account for differing device sizes and capabilities. Here, I used SASS <a href="http://thesassway.com/intermediate/responsive-web-design-in-sass-using-media-queries-in-sass-32">media query mixins</a> to adapt to changing viewports easily. More challenges came when dealing with the quirks of different browsers (I'm looking at you Android). While I addressed screen size, file size optimization, especially on mobile, is still an opportunity.</p>
			</section>
        </article>
        
        <nav role="navigation" id="pagination" class="clearfix">
        	<a href="{{_site_root}}portfolio/bethpost">Next, check out Beth Post &rarr;</a>
        	<p></p>
        </nav>


