        <article class="nopadding clearfix">
            <img src="{{_site_root}}assets/img/photo/nightofthekeeper.jpg" class="article-image">

        	<header class="portfolio-header">
        		<h2>Night of the Keeper</h2>
				<div class="map-container">
					<a href="#">Wichita, Kansas</a>
					<iframe class="left map" height='300' frameBorder='0' src='http://a.tiles.mapbox.com/v3/trooz1.map-zofecfff.html#14/37.69144438797674/-97.34990121080652'></iframe>					
					<iframe class="right map" height='300' frameBorder='0' src='http://a.tiles.mapbox.com/v3/trooz1.map-zofecfff.html#5/37.69144438797674/-97.34990121080652'></iframe>   
				</div>     	
			</header>
        </article>
        
        <nav id="pagination" class="clearfix">
        	<a class="left" href="{{_site_root}}portfolio/castiglionfiorentino">&larr; Castiglion Fiorentino</a>
        	<a class="right" href="{{_site_root}}portfolio/flight">Flight &rarr;</a>
        </nav>

