		<div role="main">
        <article class="clearfix">
        <h2 class="portfolio-title"><span class="italic">My </span>Portfolio</h2>
        <h3 class="hero-title">Websites</h3>
	    <a class="portfolio-hero" href="{{_site_root}}portfolio/bethpost">
			<div class="parallax">
				<div>
					<img alt="" src="{{_site_root}}assets/img/beth-logo.svg" >
					BethPost.<span class="italic">com</span>
				</div>	
				<img alt="Screenshot of beth-post.com" class="slide" src="{{_site_root}}assets/img/beth-frontpage-s.jpg" >
			</div>
	    </a>
	    <a class="portfolio-hero" href="{{_site_root}}portfolio/fredbohn">
			<div class="parallax">
				<div>
					<img alt="" src="{{_site_root}}assets/img/fred-logo2.svg" >
					FredBohn.<span class="italic">com</span>
				</div>
				<img alt="Screenshot of fredbohn.com" class="slide" src="{{_site_root}}assets/img/fred-frontpage-s.jpg" >
			</div>
	    </a>
	    <a class="portfolio-hero" href="{{_site_root}}portfolio/aaronlpost">
			<div class="parallax">
				<div>
					<img alt="" src="{{_site_root}}assets/img/aaron-logo.svg" >
					AaronLPost.<span class="italic">com</span>
				</div>
				<img alt="Screenshot of aaronlpost.com" class="slide" src="{{_site_root}}assets/img/aaron-frontpage-s.jpg" >
			</div>
	    </a>
        </article>
        
        <article class="clearfix">
        <h3 class="hero-title">Videos</h3>
	    <a class="portfolio-hero-half" href="{{_site_root}}portfolio/autumnrain">
			<div class="parallax">
				<div class="transparent">
					<img alt="Autumn Rain" src="{{_site_root}}assets/img/autumnrain.png" >
				</div>
				<img alt="Fall leaves floating from trees in a courtyard" src="{{_site_root}}assets/img/autumnrain-cover.jpg" >
			</div>
	    </a>
	    <a class="portfolio-hero-half" href="{{_site_root}}portfolio/eyesofrain">
			<div class="parallax">
				<div class="transparent">
					<img alt="Eyes of Rain" src="{{_site_root}}assets/img/eyesofrain.png" >
				</div>
				<img alt="Raindrop on the floor of the Pantheon" src="{{_site_root}}assets/img/eyesofrain-cover.jpg" >
			</div>
	    </a>
        </article>
        
        <article class="clearfix">
	    <h3 class="hero-title">Photos</h3>
	    <a class="portfolio-hero-quarter" href="{{_site_root}}portfolio/flight">
			<div class="parallax">
				<img alt="Flying Red Horse, Pegasus sign on top of Magnolia Hotel in Dallas" src="{{_site_root}}assets/img/photo/flight-t.jpg" >
			</div>
	    </a>
	    <a class="portfolio-hero-quarter" href="{{_site_root}}portfolio/bridgetosnowhere">
			<div class="parallax">
				<img alt="Snowy bridge and lake in Rockwall, Texas" src="{{_site_root}}assets/img/photo/bridgetosnowhere-t.jpg" >
			</div>
	    </a>
	    <a class="portfolio-hero-quarter" href="{{_site_root}}portfolio/castiglionfiorentino">
			<div class="parallax">
				<img alt="Hilltop view of the Italian town Castiglion Fiorentino" src="{{_site_root}}assets/img/photo/castiglionfiorentino-t.jpg" >
			</div>
	    </a>
	    <a class="portfolio-hero-quarter" href="{{_site_root}}portfolio/nightofthekeeper">
			<div class="parallax">
				<img alt="Keeper of the Plains sculpture in Wichita, Kansas" src="{{_site_root}}assets/img/photo/nightofthekeeper-t.jpg" >
			</div>
	    </a>
        </article>
		</div>