        <header>  
        </header>
        <article class="clearfix">
	    <a class="portfolio-hero" href="{{_site_root}}portfolio/bethpost">
			<div class="Parallax">
				<img class="slide" src="{{_site_root}}assets/img/beth-frontpage.jpg" >
				<h2 class="portfolio-title">Beth Post</h2>
			</div>
	    </a>
	    <a class="portfolio-hero" href="{{_site_root}}portfolio/fredbohn">
			<div class="Parallax">
				<img class="slide" src="{{_site_root}}assets/img/fred-frontpage.jpg" >
				<h2 class="portfolio-title">Fred Bohn</h2>
			</div>
	    </a>
	    <a class="portfolio-hero" href="{{_site_root}}portfolio/aaronpost">
			<div class="Parallax">
				<img class="slide" src="{{_site_root}}assets/img/beth-frontpage.jpg" >
				<h2 class="portfolio-title">Aaron L Post</h2>
				<img class="portfolio-logo" src="{{_site_root}}assets/img/aaron-logo.png" >
			</div>
	    </a>
        </article>